@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

/*====== FORM =====*/

.image-form {
  background-image: url(../public/imagenLogin.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: flex;
}

.cont-main {
  width: 50%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: #adc2e6a2;
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-form {
  background-color: #ffffff6e;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 31%;
  height: 50%;
  display: flex;
  flex-direction: column;
  z-index: 1;
  align-items: center;
  justify-content: center;
}
.tittle-form {
  font-size: 3rem;
  color: #ffa72d;
  margin-bottom: 4rem;
}

.input-main-form {
  background-color: aliceblue;
  width: 75%;
  height: 8%;
  margin-bottom: 1rem;
  border-radius: 8px;
  padding: 0 3px;
  font-size: 1rem;
  border: none;
  color: rgb(0, 81, 255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

::placeholder {
  color: rgba(0, 81, 255, 0.589);
}

.input-main-form-button {
  margin-bottom: 2rem;
}

.button-form {
  width: 30%;
  height: 8%;
  border-radius: 20px;
  border: 2px solid #ffa72d;
  background-color: #fff;
  cursor: pointer;
  color: #ffa72d;
}

.button-form:hover {
  background-color: #ffa72ddd;
  transition: 0.5s;
  color: #fff;
}

/*======NAVBAR=====*/

.nav-bar {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  position: fixed;
  z-index: 1;
  border-bottom: solid 1px gainsboro;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.nav-menu {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 6rem;
  padding: 1rem 2rem;
  flex-wrap: wrap;
}

.cont-menu {
  display: flex;
  gap: 6rem;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.acc-menu {
  font-size: 1.9rem;
}

.acc-menu a {
  text-decoration: none;
  color: #ffa72d;
  cursor: pointer;
}

.acc-menu a:hover {
  transition: 0.5s;
  color: #009dff;
}

.imagen-navbar {
  width: 9rem;
  height: 6rem;
  cursor: pointer;
}

/*==========HOME=========*/

.imagen-home {
  background-image: url(../public/imagen-home.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: flex;
}

.content-home {
  width: 50%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subtitulo-home {
  font-size: 3rem;
  width: 100%;
  max-width: 60%;
  color: #0062ff9f;
}

.titulo-home {
  margin-top: 2rem;
  font-size: 3.9rem;
  width: 100%;
  max-width: 60%;
  color: #ffffffec;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.favorito-home {
  color: #ffa72d95;
}
